/* set up page */
* {
  text-align: center;
}

body {
  font-size: 1em;
}

/* end of setup */

/* header */

/* learn what this mean after hamburger done */
.header {
  overflow: hidden;
}

/* change this after hamburger done */
.responsive_menu {
  margin-bottom: 200px;
}
.logo {
  margin-left: 24px;
  margin-top: 55px;
  float: left;
}

.logo img {
  width: 82px;
  height: 33px;
}

#menu_button {
  float: right;
  margin-right: 24px;
  margin-top: 63px;
}

/* rightnow done, but when will minimaze code back to this */

/* adding backgroung for pixelperfect with opacity 50% */

.pixel {
  width: auto;
  height: auto;
  position:relative;
}

.pixel::after {
    content: "";
    background-image: url("design/mobile-design.jpg");
    background-repeat: no-repeat;
    background-size: 375px auto;
    opacity: 0.5;
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute;
    z-index: -1;
  }
